name: CD NPM Release

on:
  pull_request_target:
    branches: [npm_release]
    types: [closed]

permissions:
  contents: write
  id-token: write
concurrency:
  group: npm-release
  cancel-in-progress: false

jobs:
  release:
    if: >
      github.event.pull_request.merged == true &&
      github.event.pull_request.head.repo.full_name == github.repository
    uses: royfw/rf-devops/.github/workflows/_changesets-publish.yml@main
    secrets:
      GIT_TOKEN: ${{ secrets.GIT_TOKEN }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    with:
      ref: main
      node_version: 20.x
      build_task: build
      run_tests: false
