name: CD NPM Release

on:
    pull_request_target:
        branches: [npm_release]
        types: [closed]

concurrency:
    group: npm-release
    cancel-in-progress: false

jobs:
    release:
        if: >
            github.event.pull_request.merged == true &&
            github.event.pull_request.head.repo.full_name == github.repository
        uses: royfuwei/rf-devops/.github/workflows/_changesets-publish.yml@main
        secrets:
            GIT_TOKEN: ${{ secrets.GIT_TOKEN }}
            NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        with:
            ref: npm_release
            node_version: 20.x
            build_task: build
            run_tests: false
